ollama
mediapipe
opencv-python
numpy
pandas
tqdm
scikit-learn
joblib
torch
scikit-learn
xgboost
kagglehub
seaborn
matplotlib
accelerate
bitsandbytes
icalevents
pytz
python-dateutil
transformers
sentencepiece
triton
kernels